[submodule "submodules/qcliparser"]
	path = submodules/qcliparser
	url = https://github.com/Skycoder42/QCliParser.git
[submodule "submodules/qpmx-sample-package"]
	path = submodules/qpmx-sample-package
	url = https://github.com/Skycoder42/qpmx-sample-package
[submodule "submodules/qpluginfactory"]
	path = submodules/qpluginfactory
	url = https://github.com/Skycoder42/QPluginFactory.git
[submodule "submodules/qtcoroutines"]
	path = submodules/qtcoroutines
	url = https://github.com/Skycoder42/QtCoroutines.git
[submodule "submodules/deployment"]
	path = submodules/deployment
	url = https://github.com/Skycoder42/deployment.git
[submodule "submodules/QCtrlSignals"]
	path = submodules/qctrlsignals
	url = https://github.com/Skycoder42/QCtrlSignals.git
