<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>qpmx</Name>
	<Version>1.0.0</Version>
	<Title>qpmx Installer</Title>
	<Publisher>Sykcoder42</Publisher>
	<ProductUrl>https://github.com/Skycoder42/qpmx</ProductUrl>
	<StartMenuDir>qpmx</StartMenuDir>
	<TargetDir>qpmx</TargetDir>
	<RunProgram>qpmx</RunProgram>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<RemoteRepositories>
		<Repository>
			<Url>https://install.skycoder42.de/installers/qpmx/</Url>
			<Enabled>1</Enabled>
			<DisplayName>qpmx Online Repository</DisplayName>
		</Repository>
	</RemoteRepositories>
	<ControlScript>controller.js</ControlScript>
</Installer>
